
body{
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70vh;
    aspect-ratio: 1/1;
    padding: 15vh;
}


.cell{
    font-size: 3em;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}